<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/roulette.js') }}"></script>
</head>

<body>
    <header>
        <a href="/">Menu</a>
        <h1 id="score"></h1>
    </header>
    <div>
        <input type="number" id="bet_input" value="1" min="1">
        <button id="btn">SPIN</button>
    </div>
    <hr><hr><hr>
    <div style="position: relative">
        <img src="{{arrow_image}}" width="80" style="position: absolute;z-index:2;left:160px">
        <canvas id="wheel" width="400" height="400" style="position: absolute;z-index:1;top:40px"></canvas>
    </div>
    
    
</body>
<script>
    const roulette_data = {{ roulette_data }};
</script>

</html>