<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/roulette.js') }}"></script>
</head>

<body>
    <header>
        <div id="score"></div>
    </header>
    <div>
        <input type="number" id="bet_input" value="1" min="1">
        <button id="btn">SPIN</button>
    </div>
    <hr><hr><hr>
    <div>
        <img id="wheel" src="{{ roulette_image }}" style="pointer-events: none">
    </div>
    
    
</body>
<script>
    const roulette_data = {{ roulette_data }};
</script>

</html>